extends layout

block content
  h1= title
  p Welcome to #{title}
  - var results = [{name:"Macallan", whiskey_type: "Single Malt", price:72}, {name:"Glenfidich", whiskey_type: "Blended", price:35},{name:"Glenlievet", whiskey_type: "Single Malt", price:67}]
  div(class="container-fluid") 
  div(class="row")
  -
  each item,index in results
    div(class="col-sm-2 "  onclick=`buy(${index})`) #{item.name} - #{item.whiskey_type} - #{item.price} 
  script.
    function buy(itemNo){
      alert(`You purchased Item ${itemNo+1}`)
    } 